<div class="container">
  <section class="middle">
    <div class="row">
      <div class="col col-12">
        <!-- <h1 class="display-3">Face Off!</h1> -->
        <video #webcam class="webcam" width="640" height="480"  autoplay muted></video>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col col-3">
      <img src="../assets/icons/happy.png" class="icon" />
    </div>
    <div class="col col-3">
      <img src="../assets/icons/happy.png" class="icon" />
    </div>
    <div class="col col-3">
      <img src="../assets/icons/happy.png" class="icon" />
    </div>
    <div class="col col-3">
      <img src="../assets/icons/happy.png" class="icon" />
    </div>
    <div class="col col-3">
      <img src="../assets/icons/happy.png" class="icon" />
    </div>
    <div class="col col-3">
      <img src="../assets/icons/happy.png" class="icon" />
    </div>
    <div class="col col-3">
      <img src="../assets/icons/happy.png" class="icon" />
    </div>
  </div>
</div>
<div class="bg-video">
  <video #bg_webcam class="bg-video" autoplay muted></video>
</div> 

<router-outlet></router-outlet>
